---
title: My Hip Hop Experience
---

%h1 Thoughts


%h2 Colors

%ul
  %li
    <a href="http://www.colourlovers.com/palette/559577/90s_Hip_Hop_Jacket" target="_blank"><img src="http://www.colourlovers.com/images/badges/p/559/559577_90s_Hip_Hop_Jacket.png" style="width: 240px; height: 120px; border: 0 none;" alt="90s_Hip_Hop_Jacket" /></a><br /><span style="font-size: 10px; color: #5e5e5e;"><a href="http://www.colourlovers.com/color" target="_blank" style="font-size: 10px; color: #5e5e5e;">Color</a> by <a href="http://www.colourlovers.com/" target="_blank" style="font-size: 10px; color: #5e5e5e;">COLOURlovers</a></span>
    %p
      %a{ href: "http://www.colourlovers.com/palette/559577/90s_Hip_Hop_Jacket" } 90s Hip Hop Jacket
